html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* header */
#header {
    background: #2a83e9;
}

.hinh-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.img-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* menu column */
.menu-column {
    margin-top: 100px;
    font-size: large;
    width: 250px;
}

.menu-column ul {
    border: 1px solid #ccc;
    margin-left: 15px;
    border-radius: 5px;
}

.menu-column ul li a {
    color: black;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    /* width: 250px; */
}

.menu-column ul li a:hover {
    color: black;
    border-radius: 5px;
    background-color: #e9edf08c;
    border: 1px solid #aab3bbb4;

}

/* error */
.main-error {
    margin-top: 100px;
    padding-left: 40px;
    color: red;
    font-size: 12px;
}

/* content */
.content {
    margin-top: 100px;
    margin-left: 45px;
}

#piechart_3d {
    width: 900px;
    height: 500px;
}

.dropdown-item {
    width: 150px;
}

/* Phân trang */
.btn-itemPage {
    margin: 0px 5px;
    background-color: #1075e9;
    border: 1px solid #1075e9;
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.itemPage-disabled {
    background-color: silver;
    border: 1px solid silver;
    border-radius: 20px;
    width: 40px;
    height: 40px;

}

.pageDisabled {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.itemPage {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.pageFirst {
    text-decoration: none;
}

.pageChuyen {
    text-decoration: none;
    color: rgba(167, 139, 139, 0.603);
    font-size: 20px;
}