html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background: #e9edf0a9;
}

/* header */
#header {
    background: #2a83e9;
}

.hinh-icon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.menu-header ul li {
    margin: 4px 5px 0px 5px;
}

.menu-header ul li a {
    color: white;
}

.menu-header ul li a:hover {
    background-color: #1075e9;
    color: white;
    border-radius: 5px;
}



.input-timkiem {
    width: 450px;
    margin-top: 5px;
    height: 40px;
}

.btn-search {
    border: 1px solid white;
    height: 40px;
    margin-top: 5px;
}

.btn-search:hover {
    background-color: #1075e9;
    color: white;
}

.img-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.giohang {
    position: relative;
}

.sohanghoa {
    position: absolute;
    top: 1px;
    left: -4px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    font-size: 12px;
    text-align: center;
}

/* giới thiệu */
.main-gthieu {
    background-color: white;
}

.main-gthieu h1 {
    font-size: 20px;
}

.main-gthieu hr {
    margin: 5px 0px;
}

.map {
    text-align: center;
}

.main-dangky {
    margin: 0px;
    background: white;
}

.form-group {
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
}

/* menu column */
.menu-column {
    margin-top: 100px;
    font-size: large;
    width: 320px;
    height: 600px;
    overflow: auto;

}

.menu-column ul {
    border: 1px solid #ccc;
    margin-left: 15px;
    border-radius: 5px;

}

.menu-column ul li a {
    color: black;
    border: 1px solid white;
    margin: 5px;
    border-radius: 5px;
    background: white;
}

.menu-column ul li a:hover {
    color: black;
    border-radius: 5px;
    background-color: #e9edf08c;
    border: 1px solid #aab3bbb4;

}

.icon-column {
    width: 70px;
    height: 70px;
}

/* content */
.content {
    margin-top: 70px;
}

.main-content {
    width: 850px;
    text-align: center;
}

#main-maylanh {
    height: 260px;
}

.main-content a {
    text-decoration: none;
}

.tilte-content {
    border: 1px solid white;
    background-color: #1075e9;
    border-radius: 50%;
    text-align: center;
    width: 210px;
    color: white;
    position: relative;
    top: 0px;
    left: 300px;
    margin: 15px 0px;
}

.img-item {
    padding-top: 15px;
    width: 200px;
    height: 200px;
    padding-right: 5px;
    transition: 0.5s ease-in;
}

.img-maylanh {
    height: 90px;
}

#img-tivi {
    height: 150px;
}

.main-item {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 212px;
    height: 350px;
    text-decoration: none;
}

.main-item p {
    margin: 0px;
}

.ten-item {
    font-size: 16px;
}

.gia-item {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.giacu-item {
    font-size: 14px;
    text-decoration: line-through;
}

.qua-item {
    font-size: 14px;
}

.dong-item {
    font-size: 14px;
    position: relative;
    top: -3px;
}

.phantram-item {
    font-size: 14px;
    color: red;
    position: relative;
    top: -25px;
    right: -60px
}

/* loại sản phẩm */

.main-lsp a {
    text-decoration: none;
}

/* sản phẩm chi tiết */

.img-sanphamchitiet {
    padding-left: 70px;
    height: 400px;
}

.content-spct tr {
    margin: 10px 0px;
}

.main-btnaddnumber {
    display: flex;
}

.btn-mua a {
    color: white;
    text-decoration: none;
}

.phantram-goiy {
    font-size: 14px;
    color: red;
    position: relative;
    top: -40px;
    right: -85px;
}

.title-goiy {
    margin-left: 100px;
}

.content-goiy {
    margin-left: 100px;
}

.main-gioy {
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 212px;
    height: 350px;
    text-decoration: none;
}

/* sidebar */
.img-sidebar {
    height: auto;
    width: 850px;
}



/* footer */
#footer {
    background-color: white;
}

.icon-footer {
    border: 1px solid #f0f0f0;
    height: 60px;
    width: 200px;
    padding-left: 0px;
    padding-right: 0px;
}

.diachi {
    background-color: #2a83e9;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.icon-footer-cm {
    height: 60px;
    width: 200px;
}

.display-4 {
    font-size: 24px;
}

@media only screen and (max-width: 320px) {
    .footer {
        font-size: 10px;
        text-align: center;
    }

    .diachi {
        font-size: 10px;
        padding: 0px;
    }

    .tieuDeFooter {
        font-size: 16px;
        font-weight: bold;
    }

    .icon-footer {
        width: 150px;
        height: 60px;
        margin: 0px 0px 10px 30px;
    }

}

@media (min-width: 321px) and (max-width: 375px) {
    .footer {
        font-size: 10px;
        text-align: center;
    }

    .diachi {
        font-size: 10px;
        padding: 0px;
    }

    .tieuDeFooter {
        font-size: 16px;
        font-weight: bold;
    }

    .icon-footer {
        width: 150px;
        height: 60px;
        margin: 0px 0px 10px 55px;
    }

}

@media (min-width: 376px) and (max-width: 575.98px) {
    .footer {
        font-size: 10px;
        text-align: center;
    }

    .diachi {
        font-size: 10px;
        padding: 0px;
    }

    .tieuDeFooter {
        font-size: 20px;
        font-weight: bold;
    }

    .icon-footer {
        width: 200px;
        height: 60px;
        margin: 0px 0px 10px 60px;
    }
}

@media (min-width: 576px) and (max-width: 763.98px) {
    .footer {
        font-size: 16px;
        text-align: center;
    }

    .diachi {
        font-size: 10px;
        padding: 0px;
    }

    .tieuDeFooter {
        font-size: 20px;
        font-weight: bold;
    }

    .icon-footer {
        width: 150px;
        height: 60px;
        margin: 0px 0px 0px 0px;
    }
}

@media (min-width: 764px) and (max-width: 1023.98px) {
    .footer {
        font-size: 12px;
        text-align: center;
    }

    .diachi {
        font-size: 10px;
        padding: 0px;
    }

    .tieuDeFooter {
        font-size: 20px;
        font-weight: bold;
    }

    .icon-footer {
        width: 150px;
        height: 60px;
    }

    .icon-footer-cm {
        width: 150px;
        height: 60px;
    }
}